.section {
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 180px 20px 100px;
  margin: 0 auto;
  max-width: 1280px;
}

.h2 {
  font-size: 2.5rem;
  align-self: flex-end;
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 25px 50px;
  gap: 0.5rem;
  background-color: #ffffff;
}

.row {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  flex: 1;
  min-width: 0;
  position: relative;
}

.inputGroupButtons {
  display: flex;
  gap: 1rem;
}

.inputGroup input {
  width: 100%;
  padding: 0.5rem 0.5rem 0.2rem 0;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  transition: border-color 0.2s;
}

.inputGroup label {
  position: absolute;
  left: 0;
  bottom: 40%;
  transform: translateY(50%);
  color: #aaa;
  transition: 0.2s ease all;
  pointer-events: none;
}

.inputGroup input:focus {
  outline: none;
  border-bottom: 2px solid var(--color-primary-2);
}

.inputGroup input:focus + label,
.inputGroup input:not(:placeholder-shown) + label {
  bottom: 55%;
  left: 0;
  transform: translateY(-50%);
  font-size: 0.75rem;
  color: var(--color-primary-2);
}

.datePickerWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 1.5rem;
}

.dateInput {
  width: 100%;
  padding: 0.5rem 0.5rem 0.2rem 0;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #ccc;
  cursor: pointer;
}

.dateInput:focus {
  outline: none;
  border-color: var(--color-primary-2);
}
.datePickerWrapper:focus-within label {
  color: var(--color-primary-2);
}

.bookButton,
.confirmButton {
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border: none;
  background-color: var(--color-primary-2);
  color: var(--color-primary-3);
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bookButton:hover,
.confirmButton:hover {
  background-color: var(--color-hover);
}

.bookButton:disabled,
.confirmButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.results {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.locationCard {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.cardContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardImg {
  height: auto;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
}

.availableSlots {
  color: #28a745;
  font-weight: 700;
}

/* Confirmation section */

.bookingTitle {
  display: flex;
  gap: 0.3rem;
  width: 100%;
}

.bookingTitle h1 {
  color: var(--color-primary);
}

.bookConfirm {
  background-color: #f9f9f9;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.bookLogo {
  width: 200px;
  height: 60px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eceef7;
  flex-wrap: wrap;
}

.cardBody {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.innerData {
  text-align: left;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.name p:first-child,
.number p:first-child {
  color: var(--color-primary);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}

.number:last-child {
  margin-bottom: 0.5rem;
}

.ticket {
  background-color: #eceef7;
  padding: 0px 30px;
}

.ticket p:first-child {
  margin-bottom: 0;
}

.ticket p:last-child {
  color: var(--color-primary-2);
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0;
}

.personalData {
  border: 2px solid #eceef7;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.bookingDetails {
  border: 2px solid #eceef7;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}

.personalData h3,
.bookingDetails h3 {
  background: #eceef7;
  color: var(--color-primary);
  margin: 0;
  padding: 5px 40px;
}

.location {
  background: #eceef7;
  color: var(--color-primary);
  margin: 0;
  padding: 15px 0;
  font-size: 1.3rem;
  font-weight: 700;
}

.innerDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  padding: 0 10px;
}

.arrival p:first-child,
.depart p:first-child {
  margin-bottom: 0.2rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.arrival p:last-child,
.depart p:last-child {
  margin: 0;
  color: var(--color-primary);
  font-weight: 700;
  font-size: 1.5rem;
}

@media (max-width: 1024px) {
  .container {
    height: auto;
  }

  .results {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .ticket {
    width: 100%;
    padding: 0;
  }

  .cardHeader {
    flex-direction: column;
    text-align: center;
  }

  .cardBody {
    flex-direction: column;
  }

  .innerData {
    text-align: center;
  }

  .innerDetails {
    gap: 1rem;
  }   

  .arrival,
  .depart {
    flex: 1 1 100%;
  }

  .results {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 630px) {
  .row {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .results {
    grid-template-columns: 1fr;
  }
}
