.section {
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 180px 20px 100px;
  max-width: 1380px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px 50px;
  background-color: #ffffff;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  align-items: flex-end;
}
