.section {
  position: relative;
  filter: blur(10px);
  opacity: 0;
  animation: fadeInBlur 1.5s ease-in-out forwards;
}

.container {
  display: flex;
  align-items: center;
  padding: 180px 20px 50px;
  max-width: 1380px;
  margin: 0 auto;
  min-height: 100vh;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.scrollDown {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.decorBottom {
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  background-color: #f7f8ff;
  width: 100%;
  height: 66px;
  position: absolute;
}

.section::after {
  content: '';
  background-image: url('../../assets/parkloft.jpg');
  top: 100px;
  left: 0;
  bottom: 20px;
  /* max-width: 1700px; */
  margin: 0 auto;
  right: 0;
  /* border-radius: 0.5rem; */
  position: absolute;
  z-index: -2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

.h1 {
  font-size: 3.25rem;
  color: var(--color-primary-3);
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.7);
  text-align: center;
}

.content {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 10px;
  color: var(--color-primary-3);
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.7);
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 0.6rem;
  align-items: center;
  background-color: #f9f9f9;
  padding: 20px 40px;
  border-radius: 4rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
}

.card span {
  display: flex;
}

.cardTitle {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.locationsSVG,
.datesSVG,
.moneySVG,
.lineSVG {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.cardContent {
  font-size: 14px;
}

.findSlot {
  border: none;
  font-weight: bold;
  color: var(--color-primary-3);
  background-color: var(--color-primary-2);
  border-radius: 0 4rem 4rem 0;
  padding: 15px 15px;
  transition: background-color 0.3s ease;
}

.findSlot:hover {
  background-color: var(--color-hover);
  cursor: pointer;
}

.findSlot:active {
  background-color: var(--color-active);
}

.dot1 {
  animation: fadeIn 2s ease-in-out infinite alternate;
  animation-delay: 0s;
}

.dot2 {
  animation: fadeIn 2s ease-in-out infinite alternate;
  animation-delay: 0.4s;
}

.dot3 {
  animation: fadeIn 2s ease-in-out infinite alternate;
  animation-delay: 0.8s;
}

.dot4 {
  animation: fadeIn 2s ease-in-out infinite alternate;
  animation-delay: 1.2s;
}

@media (max-width: 1036px) {
  .findSlot{
    border-radius: 4rem;
  }

  .cardContainer {
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 550px) {

  .container {
    padding: 130px 20px 50px;
  }

  .innerContainer {
    gap: 1rem;
  }

  .cardContainer .card:nth-child(6) {
    padding: 10px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInBlur {
  0% {
    filter: blur(10px);
    opacity: 0;
  }
  50% {
    filter: blur(5px);
    opacity: 0.5;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}