.container {
  display: flex;
  align-items: center;
  padding: 180px 20px 100px;
  max-width: 1280px;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  width: 100%;
  align-items: flex-start;
}

.table {
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 1fr));
  white-space: nowrap;
}

.tableHeader {
  font-weight: bold;
  display: contents;
}

.tableRow {
  display: contents;
}

.tableRow > div,
.tableHeader > div {
  padding: 10px 0;
  text-align: center;
  word-break: break-word;
  white-space: normal;
}

.tableRow:not(:last-child) > div {
  border-bottom: 1px solid #ddd;
}

.card,
.bookingCard {
  line-height: 1.5;
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 5px;
  border-bottom: 5px solid var(--color-primary-2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bookingCard {
  overflow-x: auto;
}

.bookingCard h3 {
  margin-top: 0;
}

.cards .card:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 30%;
}

.cards .bookingCard {
  flex: 1 1 60%;
}

.profileImg {
  width: 150px;
  border-radius: 50%;
  height: auto;
}

.textMuted {
  color: #a0a3b3;
}

.card p {
  margin: 1rem 0 0;
}

.textBold {
  font-weight: 700;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.row:first-of-type {
  margin-top: 1rem;
}

.rowButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  justify-content: center;
  margin-top: 1rem;
}

.editButton {
  border: none;
  color: var(--color-primary-3);
  background-color: var(--color-primary-2);
  border-radius: 5px;
  padding: 10px 25px;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.editButton:hover {
  background-color: var(--color-hover);
  cursor: pointer;
}

.manageButton {
  border: 1px solid var(--color-primary-2);
  color: var(--color-primary-2);
  background-color: transparent;
  border-radius: 5px;
  padding: 10px 25px;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.manageButton:hover {
  background-color: var(--color-primary-2);
  color: white;
  cursor: pointer;
}

.bookNowContainer {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.bookNowButton {
  padding: 10px 25px;
  font-size: 1rem;
  background-color: var(--color-primary-2);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bookNowButton:hover {
  background-color: var(--color-hover);
}