.section {
  position: relative;
}

/* .section::after {
  content: '';
  background-image: url('../../assets/1.png');
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -2;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  pointer-events: none;
} */

/* .sectionWithResults {
  background-color: #f7f8ff;
} */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 180px 20px 100px;
  margin: 0 auto;
  max-width: 1280px;
  height: 100vh;
  gap: 8rem;
}

.h2 {
  font-size: 2.5rem;
  align-self: flex-end;
}

.form {
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 25px 50px;
  gap: 0.5rem;
  background-color: #ffffff;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

/* .actions {
  display: flex;
  align-items: flex-end;
} */

.bookButton {
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border: none;
  background-color: var(--color-primary-2);
  color: var(--color-primary-3);
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bookButton:hover {
  background-color: var(--color-hover);
}

.bookButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.inputGroup input {
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.results {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.locationCard {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.cardContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardImg {
  height: auto;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
}

.availableSlots {
  color: #28a745;
  font-weight: 700;
}

@media (max-width: 1024px) {

  .container {
    height: auto;
  }

  .results {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .results {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 630px) {

  .section::after {
    top: 125px;
    background-size: contain;
  }

  .h2 {
    font-size: 2rem;
    align-self: center;
    text-align: center;
  }

  .form {
    flex-direction: column;
    align-self: center;
  }
}

@media (max-width: 480px) {
  .results {
    grid-template-columns: 1fr;
  }
}
