.section {
  background-color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 20px;
  text-align: left;
}

.h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: left;
  color: var(--color-primary);
}

h3 {
  font-size: 1.2rem;
  color: var(--color-h3);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.card {
  line-height: 1.5;
  background-color: #f7f8ff;
  padding: 30px 20px;
  border-radius: 5px;
  border-bottom: 5px solid var(--color-primary-2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.cards .card:nth-child(-n+3) {
  flex: 1 1 30%;
  max-width: 30%;
}

.cards .card:nth-child(n+4) {
  flex: 1 1 45%;
  max-width: 45%;
}

.card:hover {
  border-bottom: 5px solid var(--color-hover);
}

.aboutList {
  list-style-type: none;
  padding: 0;
  margin: 0 0 1rem 0;
  /* color: var(--color-primary-2); */
  font-size: 0.875rem;
}

.aboutList li {
  margin-bottom: 0.5rem;
}

.aboutLink {
  text-decoration: none;
  color: var(--color-primary-2);
}

.aboutLink:hover {
  text-decoration: underline;
  color: var(--color-hover);
}

@media (max-width: 768px) {
  .container {
    padding: 90px 10px;
  }

  .cards {
    gap: 1rem;
    flex-direction: column;
  }

  .card {
    flex: 1 1 100% !important;
    max-width: 100% !important;
  }
}
