.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 96px 20px;
}

.section {
  border-top: 1px solid rgba(84, 105, 231, 0.3);
}

.logo {
  width: 200px;
  height: 60px;
}

.content {
    padding-left: 1rem;
}
