.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 80px 20px;
}

.section {
  border-top: 1px solid rgba(84, 105, 231, 0.3);
}

.logo {
  width: 200px;
  height: 60px;
}

h5 {
  text-transform: uppercase;
}

.content {
  padding-left: 1rem;
  font-size: 0.785rem;
}

.links {
  display: flex;
  gap: 0.8rem;
  font-size: 0.785rem;
  flex-direction: column;
}

.links a {
  align-self: flex-start;
  text-decoration: none;
  color: #656979;
}

.links a:hover {
  text-decoration: underline;
}

.flexbox {
  display: flex;
  gap: 0;
  flex-direction: row;
}

.flexbox > div:first-child + div {
  margin-left: 8rem;
}

.flexbox > div:nth-child(2) + div {
  margin-left: 4rem;
}