section {
  text-align: center;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 2.5rem;
  margin-top: 20px;
  color: var(--color-primary);
}

content {
  font-size: 1.2rem;
  margin-top: 10px;
}
