.header {
  padding: 30px 0;
  position: fixed; /* Make the navbar fixed */
  width: 100%;
  top: 0; /* Position it at the top */
  left: 0;
  right: 0;
  z-index: 1000; /* Make sure it's above other content */
  transition: all 0.3s ease; /* For sticky transition */
}

.innerContainer {
  max-width: 1300px; /* Max width for inner content */
  margin: auto; /* Center the content */
  display: flex;
  justify-content: space-between; /* Align items */
  align-items: center; /* Vertically center items */
}

.sticky {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow */
  padding: 5px 0;
}

.logo {
  width: 200px;
  height: 60px;
}

.navList,
.authList {
  display: flex;
  gap: 1.2rem;
}

.navList a {
  text-decoration: none;
  color: var(--color-primary);
}

.navList a:hover,
.navList a.active {
  color: var(--color-primary-2);
  transition: color 0.3s ease;
}

.loginLink,
.signupLink {
  text-decoration: none;
  font-weight: 700;
}

.loginLink {
  color: var(--color-primary);
  transition: color 0.3s ease;
}

.loginLink:hover {
  color: var(--color-hover);
}

.signupLink {
  color: var(--color-primary-3);
  background-color: var(--color-primary-2);
  border-radius: 50px;
  padding: 15px 25px;
  transition: background-color 0.3s ease;
}

.signupLink:hover {
  background-color: var(--color-hover);
}
