.container {
  max-width: 648px;
  margin: 0 auto;
  padding: 30px 20px;
}

.backButton {
  display: inline-flex;
  align-items: center;
  border: none;
  background-color: #f7f8ff;
  font-size: 0.875rem;
  padding: 15px 25px;
  border-radius: 0.5rem;
  gap: 0.5rem;
  cursor: pointer;
}

.backButton:hover {
  background-color: #bcbcc0;
  transition: all 0.3s ease;
}

.backIcon {
  width: 20px;
  height: 20px;
}

a {
  text-decoration: none;
  color: #656979;
}
